/*.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav > ul {
    margin: 0 0 0 0;
}
nav {
    background-color: #003559;
    padding: 5px 0 5px 0;
    margin: 0 0 0 0;
}
nav li{
    display: inline;
    background-color: #003559;
    padding: 5px 5px 5px 5px;
}
nav li:hover{
    background-color: #061A40;
}
nav li a{
    text-decoration: none;
    color: #EEEBD3
}
input {
    margin-bottom: 5px;
}
input[type=submit] {
    background-color: #003559;
    color: #EEEBD3;
    border-radius: 10%;
    padding: 5px 10px 5px 10px;
    font-size: 12pt;
    font-family: 'Times New Roman';
}
#password-reset-title {
    font-weight: bold;
}
body{
    background-color: #EEEBD3;
    color: #061A40;
}
#flash {
    margin: 0 0 5px 0;
} */